

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}



.onboard-image{
  width: 300px;
  height: 300px;
}
.welcome{
  color: #ECE9E6;
}
.App-header {
  background-color: #1A3E55;
  padding: 5px;
  padding-left: 30px;
}
.GearBlock{
  display: flex;
  flex: 1;
}

.Gear{
  padding: 20px;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
